/*Colors*/
$black: #000000;
$white: #ffffff;

/*Typography*/

$font-family-base: 'Lato',Arial,Helvetica,sans-serif;
$font-family-header: 'Lato',Arial,Helvetica,sans-serif;
$font-family-menu: 'Lato',Arial,Helvetica,sans-serif;
$font-size-base: 13px;
$font-style-text: 14px;
